%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 28vw;
  transition:opacity .6s ease;
  &.swiper-container-coverflow{
    padding-top:2%;
  }
 
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
}
.swiper-wrapper{

}
.swiper-slide{
  background-position:center;
  background-size:cover;
  .slide-inner{
    
  }
  .entity-img{
    display:none;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }

  .gallery-thumbs {
    
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .content{
    position:absolute;
    top:40%;
    left:0;
    width:50%;
    padding-left:5%;
    color:#fff;
    .title{
      font-size:2.6em;
      font-weight:bold;
      margin-bottom:30px;
    }
    .caption{
      display:block;
      font-size:13px;
      line-height:1.4;
    }
  }
}
[class^="swiper-button-"]{
  @media (min-width: 767px) {
  width:80px;
  height: 80px;
  
  }
  
}
.swiper-button-prev{
  @media (min-width: 767px)
  {
    margin-left: 15%;
  }
}
.swiper-button-next{
  @media (min-width: 767px)
  {
    margin-right: 15%;
  }
}
.swiper-container-horizontal{
  >.swiper-pagination-bullets{
    .swiper-pagination-bullet{
      margin:0 9px;
      position:relative;
      width:12px;
      height:12px;
      background-color:#fff;
      opacity:.4;
      @extend %transition_all_03s;
      &::before{
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:18px;
        height:18px;
        transform:translate(-50%, -50%);
        border:0px solid #fff;
        border-radius:50%;
        @extend %transition_all_03s;
      }
      &:hover,
      &.swiper-pagination-bullet-active{
        opacity:1;
      }
      &.swiper-pagination-bullet-active{
        &::before{
          border-width:1px;
        }
      }
    }
  }
}

// Mediaqueries
@media(max-width:1180px){
  .swiper-slide{
    .content{
      .title{
        font-size:25px;
      }
      .caption{
        font-size:12px;
      }
    }
  }
}
@media(max-width:1023px){
  .swiper-container {
    height:40vw;
    &.swiper-container-coverflow{
      padding-top:0;
    }
  }
}